/*----------------------------------------------------------------*\
		BUTTONS
\*----------------------------------------------------------------*/

button,
.button {
	display: inline-block;
	margin: .5em 1em .5em 0;
	padding: 1em 2em;
	cursor: pointer;
	border: 2px solid var(--Yellow);
	background-color: var(--Yellow);
	font-family: 'Lato';
	font-size: 14px;
	font-weight: bold;
	text-decoration: none;
	text-align: center;
	color: var(--Black);
	outline: none;
	transition: all .35s linear;

	&:hover,
	&:focus,
	&.is-hover {
		border-color: var(--DarkYellow);
		background-color: var(--DarkYellow);
		text-decoration: none;
	}

	&:active,
	&.is-active {
		border-color: var(--DarkYellow);
		background-color: var(--DarkYellow);
		text-decoration: none;
	}

	&.load-more {
		margin: var(--SmallSpacing) auto;
		display: none;
	}
}

/*----------------------------------------------------------------*\
		ICON MODIFIER
\*----------------------------------------------------------------*/

button,
.button {
	&.has-icon {
		font-size: 16px;

		&::before {
			content: '';
			width: 20px;
			height: 24px;
			display: inline-block;
			float: left;
			margin-top: -3px;
			margin-right: .5em;
			background-size: contain;
			background-position: center;
			background-repeat: no-repeat;
		}
	}
}

/*----------------------------------------------------------------*\
		COLOR MODIFIER
\*----------------------------------------------------------------*/

button,
.button {
	&.is-transparent {
		border-color: var(--Black);
		background-color: var(--Black);
		background-clip: padding-box;

		&:hover,
		&:focus,
		&.is-hover {
			border-color: var(--Black);
			background-color: var(--Black);
		}

		&:active,
		&.is-active {
			border-color: var(--Black);
			background-color: var(--Black);
		}
	}

	/* add additional colors by adding variables first */
	&.is-secondary {
		border-color: var(--Black);
		background-color: var(--Black);
		color: var(--White);

		&:hover,
		&:focus,
		&.is-hover {
			border-color: var(--Yellow);
			background-color: var(--Yellow);
			color: var(--Black);
		}

		&:active,
		&.is-active {
			border-color: var(--Yellow);
			background-color: var(--Yellow);
			color: var(--Black);
		}
	}
}

/*----------------------------------------------------------------*\
		SIZE MODIFIER
\*----------------------------------------------------------------*/

button,
.button {
	&.is-small {
		font-size: .875em;
		padding: .35em .875em;
	}

	&.is-large {
		font-size: 1.25em;
		padding: .75em 1.35em;
	}
}

/*----------------------------------------------------------------*\
		FLUID MODIFIER
\*----------------------------------------------------------------*/

button,
.button {
	&.is-fluid {
		width: 100%;
		margin: 0;
	}
}

/*----------------------------------------------------------------*\
		GHOST MODIFIER
\*----------------------------------------------------------------*/

button,
.button {
	&.is-ghost {
		background-color: transparent;
		border-color: var(--DarkBlue);
		color: var(--DarkBlue);

		&:hover,
		&:focus,
		&.is-hover {
			color: var(--White);
			background-color: var(--DarkBlue);
			text-decoration: none;
		}

		&:active,
		&.is-active {
			color: var(--White);
			background-color: var(--DarkBlue);
			text-decoration: none;
		}
	}
}

/*----------------------------------------------------------------*\
		BORDERLESS MODIFIER
\*----------------------------------------------------------------*/

button,
.button {
	&.is-borderless {
		background-color: transparent;
		border-color: transparent;
		color: var(--Blue);

		&:hover,
		&:focus,
		&.is-hover {
			background-color: transparent;
			border-color: transparent;
			color: var(--DarkBlue);
		}

		&:active,
		&.is-active {
			background-color: transparent;
			border-color: transparent;
			color: var(--DarkBlue);
		}

		&:first-of-type {
			padding-left: 0;
		}
	}
}

/*----------------------------------------------------------------*\
		GROUPED BUTTONS
\*----------------------------------------------------------------*/

.buttons {

	& button,
	& .button {
		margin-top: 0;
		margin-bottom: 0;
	}

	&.are-grouped {
		display: flex;

		button,
		.button {
			margin-right: 0;
			white-space: nowrap;
			flex: 1;

			&:first-child {
				border-top-left-radius: 3px;
				border-bottom-left-radius: 3px;
			}

			&:last-child {
				border-top-right-radius: 3px;
				border-bottom-right-radius: 3px;
			}
		}
	}

	&.button_content {
		margin: 25px auto;
	}
}