/*----------------------------------------------------------------*\
		FONTS
\*----------------------------------------------------------------*/

@font-face {
	font-family: 'Oswald';
	src: url('../fonts/Oswald-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'Lato';
	src: url('../fonts/Lato-Regular.ttf') format('truetype');
}

/*----------------------------------------------------------------*\
		HEADERS
\*----------------------------------------------------------------*/

h1,
h2,
h3,
h4 {
	font-family: 'Oswald';
	margin: 1em 0 .5em 0;
	font-weight: 100;
}

h1 {
	font-size: 45px;

	@media(--tablet) {
		font-size: 68px;
	}

	&+h2 {
		font-size: 26px;
		font-family: 'Lato';
	}
}

h2 {
	font-size: 32px;

	&+h3 {
		font-size: 24px;
		font-family: 'Lato';
	}
}

h3 {
	font-size: 24px;

	&+h4 {
		font-size: 20px;
		font-family: 'Lato';
	}
}

h4 {
	font-size: 20px;

	&+h4 {
		font-size: 16px;
		font-family: 'Lato';
	}
}

/*----------------------------------------------------------------*\
		BODY
\*----------------------------------------------------------------*/

hr {
	border: 0;
	height: 2px;
	margin: var(--Spacing) 0;
	background-color: var(--Black);
}

p,
span,
time,
address,
nav,
ul {
	font-family: 'Lato';
	font-size: 1em;
	line-height: 1.5;
	color: var(--Black);
}

strong,
b {
	font-weight: bold;
}

p a {
	font-size: inherit;
	color: var(--DarkBlue);
	text-decoration: none;

	&:hover,
	&:focus {
		text-decoration: underline;
	}
}

a {
	font-family: 'Lato';
}

/*----------------------------------------------------------------*\
		BLOCKQUOTE
\*----------------------------------------------------------------*/

blockquote {
	width: 95%;
	max-width: 800px;
	margin: 20px auto;
	padding: 1em;
	text-align: center;
	font-size: 21px;
	font-style: italic;

	&>*:first-child {
		margin-top: 0;
	}

	&>*:last-child {
		margin-bottom: 0;
	}

	& p {
		font-size: 1.15em;
		color: var(--DarkBlue);

		&:last-of-type {
			font-size: 1em;
		}
	}
}

/*----------------------------------------------------------------*\
		CODE EXAMPLES
\*----------------------------------------------------------------*/

code {
	font-size: .875em;
}