/*----------------------------------------------------------------*\
	EVENTS SECTION
\*----------------------------------------------------------------*/

section.events {
	max-width: var(--LargeWidth);
	display: flex;
	flex-wrap: wrap;
	padding: 1em 1em 2em;

	& h2 {
		width: 100%;
		text-align: center;
	}

	& article.preview {
		flex-direction: inherit;
		width: 100%;
		border: none;
		justify-content: flex-start;
		padding-left: 1em;

		@media(--phone) {
			justify-content: center;
		}

		@media(--laptop) {
			width: 30%;
		}

		&:hover,
		&:focus {
			& .featured-image {
				& img {
					transform: none;
				}
			}
		}

		& .featured-image {
			& img {
				width: 50px;
				height: 50px;
				object-fit: contain;
				object-position: center center;

				@media(--phone) {
					width: 80px;
					height: 80px;
				}
			}
		}

		& .event-info {
			padding-left: 1em;

			@media(--phone) {
				width: 300px;
			}

			@media(--laptop) {
				width: calc(100% - 80px);
			}

			& p {
				margin: 0;
				padding: 0;

				&:first-of-type {
					color: var(--Blue);
				}
			}

			& h3 {
				margin: 0;
				padding: 0;
				color: var(--DarkBlue);
			}
		}
	}
}