/*----------------------------------------------------------------*\
	PAGE FOOTER
\*----------------------------------------------------------------*/

footer {
	background-color: var(--Black);
	color: var(--White);
	padding: 1em;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

	@media(--laptop) {
		padding: 1em 2em;
	}

	&>div {
		display: flex;
		flex-wrap: wrap;
		max-width: var(--LargeWidth);
		margin: 0 auto;
	}

	& p {
		color: var(--White);
	}

	& .newsletter {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		width: 100%;
		order: 1;
		margin-bottom: 2em;

		@media(--laptop) {
			order: 3;
			width: 30%;
			margin-bottom: 1em;
		}

		& h3 {
			margin-top: .5em;
			width: 100%;

			@media(--phone) {
				text-align: center;
			}

			@media(--laptop) {
				text-align: left;
			}
		}

		& form {
			& label {
				color: var(--White);
			}

			& input {
				background-color: var(--DarkGrey);
				color: var(--Grey);

				&::placeholder {
					color: var(--Grey);
				}

				&:focus {
					background-color: var(--DarkGrey);
				}
			}

			& .gform_footer {
				text-align: center;

				@media(--laptop) {
					text-align: left;
				}

				& button {
					margin-top: 1em;
				}
			}
		}
	}

	& section {
		margin: 2em auto;
		order: 2;

		@media(--tablet) {
			order: 3;
			width: 66.66%;
		}

		@media(--laptop) {
			order: 2;
			width: 45%;
			margin-top: 0;
		}

		& nav {
			display: flex;
			flex-wrap: wrap;
			max-width: 600px;
			margin: 0 auto;

			@media(--tablet) {
				max-width: none;
			}

			& ul {
				display: block;
				margin: 0;

				@media(--phone) {
					width: 50%;
				}

				& li {
					& a {
						color: var(--White);
						width: fit-content;
					}
				}
			}
		}
	}

	& .company-info {
		display: flex;
		flex-wrap: wrap;
		align-content: flex-start;
		text-align: center;
		width: 100%;
		margin: 2em auto;
		order: 3;

		@media(--tablet) {
			order: 2;
			width: 33.33%;
			text-align: left;
			margin: 0 auto 3em;
		}

		@media(--laptop) {
			order: 1;
			width: 25%;
			margin-top: 0;
		}

		& svg {
			fill: var(--White);
			max-width: 200px;
			height: 70px;
			margin: 0 auto 1em;

			@media(--tablet) {
				margin-top: .5em;
				margin: .5em 0;
				width: 175px;
			}
		}

		&>div {
			width: 100%;
			margin-top: 0;

			@media(--tablet) {
				margin-top: 2em;
			}

			& p {
				margin: 1em 0 0;

				@media(--laptop) {
					margin: 0;
				}
			}

			& a {
				font-size: 26px;
				text-decoration: none;
				color: var(--Blue);
				font-weight: bold;
			}
		}
	}

	& .social {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		width: 100%;
		margin-bottom: 2em;
		order: 4;

		@media(--laptop) {
			justify-content: flex-start;
			margin-bottom: 0;
		}

		& svg {
			width: 20px;
			height: 20px;
			margin: 0 1em;

			&:first-of-type {
				margin-left: 0;
			}
		}
	}
}

/*----------------------------------------------------------------*\
	COPYRIGHT
\*----------------------------------------------------------------*/

.copyright {
	position: relative;
	background-color: var(--Black);
	margin: 0 auto;
	order: 5;

	@media(--laptop) {
		width: 100%;
	}

	& #element5-credit {
		text-align: center;
		overflow: hidden;

		@media(--laptop) {
			position: absolute;
			bottom: 0;
			right: 0;
		}

		& img {
			transform: translateX(100%);
			transition: all .35s linear;
		}

		&[data-emergence=visible] img {
			transform: translateX(0);
		}
	}

	& .legal {
		margin: 1em 0 0;
		width: 100%;
	}

	& p {
		margin: 0;
		font-size: .875em;
		line-height: 2;
		text-align: center;

		@media(--phone) {
			text-align: left;
		}
	}
}