/*----------------------------------------------------------------*\
	PAGE TITLES
\*----------------------------------------------------------------*/

header.page-title {
	width: 100%;
	height: auto;
	min-height: 500px;
	align-items: center;
	display: flex;
	position: relative;
	color: var(--White);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	text-align: center;

	&.is-taxonomy {
		& h1 {
			margin-bottom: 1rem;
		}

		& p {
			font-size: 20px;
		}

		& button {
			margin-top: 1rem;
		}
	}

	&>section {
		position: relative;
		max-width: var(--Width);
		z-index: 3;
		padding-top: 3em;

		&>*:first-child {
			margin-top: 0;
		}

		&>*:last-child {
			margin-bottom: 0;
		}

		&>p {
			max-width: var(--SmallWidth);
			margin: 0 auto;
			color: var(--White);
			font-size: 24px;
		}
	}

	& .overlay {
		position: absolute;
		z-index: 2;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background: #000;
		opacity: .45;
	}
}

/*----------------------------------------------------------------*\
	VIDEO PAGE TITLES
\*----------------------------------------------------------------*/

header.page-title {
	&.has-video {
		min-height: 60vh;
		overflow: hidden;

		& .overlay {
			position: absolute;
			z-index: 2;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			background: #000;
			opacity: .45;
		}

		& video {
			position: absolute;
			top: 0;
			left: 0;
			min-width: 100%;
			width: auto;
			height: auto;
		}
	}
}

/*----------------------------------------------------------------*\
	POST TITLES
\*----------------------------------------------------------------*/
.single-post {
	& header {
		color: var(--White);
		padding-top: 117px;

		& section {
			padding-top: 0;

			& .post-meta {
				display: flex;
				justify-content: center;
				align-items: center;
				text-align: center;
				max-width: var(--Width);

				& p {
					margin: 0 0 .25em 0;
					color: var(--White);
				}

				& img {
					border-radius: 50%;
					width: 75px;
					margin-right: 1em;
				}
			}
		}
	}

	& article {
		& section {
			&:last-of-type {
				margin-bottom: 4em;
			}
		}
	}
}