/*----------------------------------------------------------------*\

	CONTACT PAGE HEADER

\*----------------------------------------------------------------*/
header.page-title.contact-title {
	padding-top: 117px;

	&>section {
		display: flex;
		flex-wrap: wrap;
		padding: 3em 1em;
		max-width: var(--LargeWidth);

		&>div {
			width: 100%;
			text-align: left;

			@media(--tablet) {
				width: 50%;
			}

			&:first-of-type {
				padding-right: 0;

				@media(--tablet) {
					padding-right: 2em;
				}
			}

			&:last-of-type {
				padding-left: 0;
				color: var(--White);
				display: flex;
				flex-wrap: wrap;
				align-content: flex-start;
				padding-top: 6em;

				@media(--tablet) {
					padding-left: 2em;
				}

				&>p {
					margin: 0;
					display: flex;
					width: 100%;

					& iframe {
						width: 100%;
					}
				}

				&>div {
					background-color: var(--Black);
					width: 100%;
					padding: 2em;

					& h2 {
						margin: 0;
					}

					& p {
						font-size: 16px;
						color: var(--White);
					}

					& .button {
						&.has-icon {
							padding: 0;
							margin-top: 1.5em;

							@media(--phone) {
								margin-top: 0;
							}

							&::before {
								background-image: url(../images/phone-icon.svg);
							}
						}
					}
				}
			}

			& h1 {
				color: var(--Black);
				margin: 0;
			}

			& .gform_wrapper {
				margin-top: 1em;

				& .address_city,
				& .address_state,
				& .address_zip {
					width: 100% !important;
					margin: 0 !important;
				}

				& .gfield_label_before_complex {
					display: none !important;
				}

				& .address_line_1,
				& .address_city,
				& .address_state,
				& .address_zip {
					display: flex;
					flex-wrap: wrap;
					margin-bottom: .5em !important;

					& label {
						order: 1;
					}

					& input,
					& select {
						order: 2;
					}
				}
			}
		}
	}
}