/*----------------------------------------------------------------*\
	PRODUCT TITLES
\*----------------------------------------------------------------*/
body.single-product {
	& header.page-title {
		padding-top: 150px;
		min-height: inherit;

		&>section {
			padding: 1rem 0 0;
			text-align: left;

			& p {
				color: var(--Black);
				max-width: inherit;
				padding: 0 1rem;

				& a {
					color: var(--Black);
					padding: 0 .5em;
				}

				& span {
					color: var(--DarkBlue);
					padding: 0 .5em;
				}
			}
		}
	}
}