/*----------------------------------------------------------------*\
	ICON CARD SECTION
\*----------------------------------------------------------------*/

section.icon-cards {
	max-width: var(--LargeWidth);
	display: flex;
	flex-wrap: wrap;
	padding: 1em 1em 2em;
	text-align: center;
	margin-bottom: 0;

	& h2 {
		width: 100%;
	}

	& article.preview {
		width: 100%;
		border: none;

		@media(--phone) {
			width: 50%;
		}

		@media(--tablet) {
			width: 25%;
		}

		&:hover,
		&:focus {
			& .featured-image {
				& img {
					transform: none;
				}
			}

			& .button,
			& button {
				border-color: var(--Yellow);
				background-color: var(--Yellow);
			}
		}

		& .featured-image {
			& img {
				width: 100px;
				margin: 0 auto;
			}
		}

		& h3 {
			color: var(--DarkBlue);
			margin-bottom: 0;
		}

		& p {
			text-align: left;
			font-size: 16px;
			margin-top: .5em;
		}

		&>a {
			position: inherit;
			width: auto;
			margin: 0 auto;

			&.button {

				&:hover,
				&:focus {
					border-color: var(--DarkBlue);
					background-color: var(--DarkBlue);
					color: var(--White);
				}
			}
		}
	}
}