/*----------------------------------------------------------------*\
	LEADERSHIP SECTION
\*----------------------------------------------------------------*/

section.leadership {
	max-width: var(--LargeWidth);
	display: flex;
	flex-wrap: wrap;
	padding: 1em 1em 2em;

	&>div {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		width: 100%;
		padding: 0;
		text-align: center;
		max-width: var(--SmallWidth);
		margin: 0 auto;

		@media(--tablet) {
			padding: 0 1em;
		}

		&>h2 {
			margin-top: 0;
			width: 100%;
			margin-bottom: 1em;
		}

		& article.preview-team {
			width: calc(50% - .5em);
			margin: 0 .25em .5em;

			@media(--tablet) {
				width: calc(33% - 1em);
				margin: 0 .5em 1em;
			}
		}

		&>div {
			width: 100%;

			& .button {
				margin: 2em 0 0;
			}
		}
	}
}