/*----------------------------------------------------------------*\
	ICON CARD SECTION
\*----------------------------------------------------------------*/

section.member-cards {
	max-width: var(--LargeWidth);
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-top: 0;

	& article.preview {
		width: 80%;
		border: none;
		background-color: var(--Grey);
		padding: 2em;
		flex-direction: inherit;

		@media(--tablet) {
			width: 60%;
		}

		&:hover,
		&:focus {
			& .featured-image {
				& img {
					transform: none;
				}
			}

			& .button,
			& button {
				border-color: var(--Yellow);
				background-color: var(--Yellow);
			}
		}

		& .featured-image {
			width: 100%;
			margin: 0 auto;

			@media(--phone) {
				width: 80%;
			}

			@media(--laptop) {
				width: 35%;
			}
		}

		& .member-info {
			padding: 1em 0 0;
			width: 100%;

			@media(--tablet) {
				padding: 1em;
			}

			@media(--laptop) {
				padding: 1em 2em;
				width: 65%;
			}

			& h2 {
				margin: 0;
			}

			& p {
				padding: 0;
				margin: 0;

				&.position {
					margin: .5em 0;
					color: var(--DarkBlue);
				}
			}

			& .button {
				margin: 2em 0 0;

				&:hover,
				&:focus {
					border-color: var(--DarkBlue);
					background-color: var(--DarkBlue);
					color: var(--White);
				}
			}
		}
	}
}