/*----------------------------------------------------------------*\
	RELATED POSTS
\*----------------------------------------------------------------*/

.related-posts {
	width: 100%;
	padding: var(--Spacing) 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-top: 0;

	& h2 {
		width: 100%;
		text-align: center;
	}

	&>article {
		max-width: 550px;
		width: 90%;
		margin: 0 var(--SmallSpacing);
	}
}