/*----------------------------------------------------------------*\
	TEAM SECTION
\*----------------------------------------------------------------*/

section.team {
	max-width: var(--LargeWidth);
	display: flex;
	flex-wrap: wrap;
	padding: 1em 1em 2em;

	&>div {

		&:first-of-type {
			width: 100%;
			margin-bottom: 2em;

			@media(--tablet) {
				width: 15%;
				margin-bottom: 0;
			}

			& h4 {
				margin-top: .5em;
				margin-bottom: .5em;

				@media(--tablet) {
					margin-bottom: 2em;
				}
			}

			& a {
				display: inline;
				margin-bottom: 2em;
				text-decoration: none;
				color: var(--Black);
				padding-right: 10px;

				@media(--tablet) {
					display: table;
					padding-right: 0;
				}

				&:hover,
				&:focus {
					color: var(--DarkBlue);
				}

				&:active,
				&.is-active {
					color: var(--DarkBlue);
				}
			}
		}

		&:last-of-type {
			width: 100%;

			@media(--tablet) {
				width: 85%;
				padding: 0 1em;
			}

			&>div {
				display: flex;
				flex-wrap: wrap;
				justify-content: flex-start;
				margin-bottom: 3em;

				&>h2 {
					margin-top: 0;
					width: 100%;
				}
			}
		}
	}
}