/*----------------------------------------------------------------*\
	TESTIMONIALS SECTION
\*----------------------------------------------------------------*/
section.testimonials {
	background-image: url(../images/testimonials_bg.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	position: relative;
	padding: 2vh 0;

	&::after {
		content: '';
		opacity: 0.8;
		background-color: var(--Blue);
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
	}

	&>.block {
		position: relative;
		z-index: 2;
		max-width: var(--Width);
		width: 90vw;
		margin: 0 auto;
		color: var(--White);

		& h2 {
			text-align: center;
		}
	}
}

/*-----------------------------------------
   TESTIMONIALS SLIDER
-----------------------------------------*/
.testimonial-slider {
	position: relative;

	&>svg {
		width: 32px;
		cursor: pointer;
		z-index: 10;
		position: absolute;
		top: calc(35% - 16px);

		&:first-of-type {
			left: 0;

			@media(--tablet) {
				left: -1em;
			}

			@media(--desktop) {
				left: -3em;
			}
		}

		&:last-of-type {
			right: 0;

			@media(--tablet) {
				right: -1em;
			}

			@media(--desktop) {
				right: -3em;
			}
		}
	}

	& article {
		margin: 3em auto;
		outline: none;

		& blockquote {
			padding: 1em 2em;

			& p {
				font-size: 18px;
				color: var(--White);

				&:first-of-type {
					position: relative;

					&:after {
						content: '';
						position: absolute;
						bottom: -1em;
						left: calc(50% - 100px);
						height: 3px;
						width: 200px;
						background-color: var(--Yellow);
					}
				}

				&:last-of-type {
					margin-top: 0;
				}
			}

			& h4 {
				margin-top: 2em;
			}
		}
	}
}