/*----------------------------------------------------------------*\
	VENDORS SECTION
\*----------------------------------------------------------------*/
section.vendors {
	text-align: center;

	& .vendor-logos {
		position: relative;

		& .slick-arrow {
			width: 32px;
			cursor: pointer;
			z-index: 10;

			&:first-of-type {
				position: absolute;
				top: 50%;
				left: 5%;
			}

			&:last-of-type {
				position: absolute;
				top: 50%;
				right: 5%;
			}
		}

		& .slick-list {
			width: 80%;
			margin: 0 auto;
		}

		& .slick-slide {
			&>div {
				display: flex;
				flex-wrap: wrap;
				justify-content: space-between;
				align-items: center;
			}
		}

		& .slick-slide img {
			display: block;
			max-width: 120px;
			margin: 1em auto;
			height: 100%;
		}
	}
}