section.wysiwyg-block {
	width: 90%;
	max-width: var(--Width);
	display: flex;
	flex-wrap: wrap;
	justify-content: center;

	&>h2,
	&>p {
		width: 100%;
	}

	&>div {
		width: 100%;

		&>*:first-child {
			margin-top: 0;
		}

		&>*:last-child {
			margin-bottom: 0;
		}

		@media(--tablet) {
			width: 48%;
			margin: 0 2% 0 0;

			&:last-of-type {
				margin: 0 0 0 2%;
			}

			&:only-child {
				width: 100%;
				margin: 0 auto;
			}
		}
	}
}