/*----------------------------------------------------------------*\

		PROCESSOR: POSTCSS
			http://postcss.org/
		SYNTAX: CSSNEXT
			http://cssnext.io/
		NAMING CONVENTIONS: MODULAR CSS with lower-case-hyphenated
			http://thesassway.com/advanced/modular-css-naming-conventions
		CSSSTYLE: TABS
			http://www.sublimetext.com/docs/indentation
		CSS BASE: NORMALIZE
			https://necolas.github.io/normalize.css/
		FRAMEWORK: CSS GRID & FLEXBOX
			https://css-tricks.com/snippets/css/complete-guide-grid/
			https://css-tricks.com/snippets/css/a-guide-to-flexbox/

\*----------------------------------------------------------------*/

/*----------------------------------------------------------------*\
		VARIABLES
\*----------------------------------------------------------------*/

:root {
	/* SIZING */
	--SmallWidth: 800px;
	--Width: 1024px;
	--LargeWidth: 1300px;
	--LargeSpacing: 100px;
	--Spacing: 50px;
	--SmallSpacing: 25px;
	/* COLORS */
	--Blue: #3398D8;
	--DarkBlue: #005CAF;
	--Yellow: #FBC541;
	--DarkYellow: #EAAD18;
	--BlueGreen: #00C0CD;
	--White: #FFFFFF;
	--Grey: #EFEFEF;
	--DarkGrey: #5D6161;
	--Black: #383D3D;
}

/*----------------------------------------------------------------*\
		MEDIA QUERIES IN CORRECT ORDER
\*----------------------------------------------------------------*/

@custom-media --phone (min-width: 500px);
@custom-media --tablet (min-width: 800px);
@custom-media --laptop (min-width: 1050px);
@custom-media --desktop (min-width: 1200px);

div {
	@media(--phone) {
		box-sizing: inherit;
	}

	@media(--tablet) {
		box-sizing: inherit;
	}

	@media(--laptop) {
		box-sizing: inherit;
	}

	@media(--desktop) {
		box-sizing: inherit;
	}
}

/*----------------------------------------------------------------*\
		UNIVERSAL BOX-SIZING
\*----------------------------------------------------------------*/

html {
	box-sizing: border-box;
	font-size: 18px;
	background: var(--White);
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

/*----------------------------------------------------------------*\
		WORDPRESS CLASSES
\*----------------------------------------------------------------*/

section {

	&.main-content-block {
		max-width: var(--Width);
		margin-bottom: 4em !important;
		padding: 1em;
	}

	& img {
		max-width: 100%;
		height: auto;

		&.alignleft {
			float: left;
			margin: 1em 1em 1em 0;
		}

		&.alignright {
			float: right;
			margin: 1em 0 1em 1em;
		}

		&.aligncenter {
			display: block;
			margin: 1em auto;
		}
	}

	& iframe {
		max-width: 100%;
	}
}

/*----------------------------------------------------------------*\
		MAIN
\*----------------------------------------------------------------*/
main {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: flex-start;

	&.aside-both,
	&.aside-left,
	&.aside-right {
		max-width: var(--LargeWidth);
		margin: 0 auto;
	}

	& article {
		width: 100%;
		order: 0;

		@media(--tablet) {
			order: 2;

			&:first-child,
			&:last-child {
				width: calc(100% - 375px);
			}

			&.aside-both,
			&:only-child {
				order: 0;
				width: 100%;
			}

		}

		@media(--laptop) {
			&.aside-both {
				width: calc(100% - 750px);
				order: 2;
			}
		}
	}

	& aside {
		width: 350px;
		background-color: var(--Grey);
		padding: var(--SmallSpacing);
		margin: var(--Spacing) auto;

		@media(--tablet) {
			&.is-left {
				margin-right: 25px;
				order: 1;
			}

			&.is-right {
				margin-left: 25px;
				order: 3;
			}
		}

		& .widget {
			margin-bottom: var(--SmallSpacing);

			&:last-of-type {
				margin-bottom: 0;
			}

			&>*:first-child {
				margin-top: 0;
			}

			&>*:last-child {
				margin-bottom: 0;
			}
		}
	}
}

/*----------------------------------------------------------------*\
		ARTICLE
\*----------------------------------------------------------------*/
article {
	width: 100%;
	height: auto;
	margin: var(--Spacing) auto 0;
	position: relative;

	&>*:first-child {
		margin-top: 0;
	}

	&>*:last-child {
		margin-bottom: 0;
	}
}

/*----------------------------------------------------------------*\
		CENTER CONTAINERS
\*----------------------------------------------------------------*/

section {
	width: 100%;
	margin: var(--LargeSpacing) auto;

	&:first-of-type {
		margin-top: 0;
	}

	&:last-of-type {
		margin-bottom: 0;
	}
}

/*----------------------------------------------------------------*\
		WYSIWTG IMAGES
\*----------------------------------------------------------------*/
p.wide {
	flex-wrap: wrap;
	justify-content: space-between;
	width: 100%;

	@media(--laptop) {
		display: flex;
	}

	@media(--desktop) {
		width: calc(100% + 76px);
		margin-left: -38px;
	}

	& img {
		padding: 1em;
		margin: 0 auto;

		@media(--laptop) {
			width: 49%;
		}

		@media(--desktop) {
			padding: 1em;
			width: 50%;
		}
	}
}

.page-template-contact {
	& main {
		display: none;
	}

	& #field_4_5,
	& #field_4_7 {
		margin-top: 1em;
	}
}

.page-template-careers {
	& section.main-content-block {
		margin-bottom: 0 !important;
	}
}