/*----------------------------------------------------------------*\

	STYLES SPECIFIC TO ARCHIVES

\*----------------------------------------------------------------*/

.feed {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	max-width: var(--LargeWidth);

	&.feed-blog {
		max-width: var(--Width);
		margin-bottom: 2em;
	}
}

/*----------------------------------------------------------------*\
	INFINITE SCROLL
\*----------------------------------------------------------------*/

.page-load-status,
.navigation.pagination {
	display: none;
	text-align: center;
}

.infinite-scroll:last-of-type {
	margin: 2em 0 4em;
}