/*----------------------------------------------------------------*\

	STYLES SPECIFIC TO PRODUCT ARCHIVES

\*----------------------------------------------------------------*/
.post-type-archive-product,
.tax-productcategory,
.tax-vendor {
	& .categories {
		margin-bottom: 1em;

		& .category-nav {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
		}
	}

	& .feed-with-sidebar {
		display: flex;
		flex-wrap: wrap;
		margin: 0 auto;
		max-width: var(--LargeWidth);
		padding: 0 1em;

		@media(--tablet) {
			padding: 0 2em;
		}

		& .sidebar {
			width: 100%;
			margin-bottom: 0;

			@media(--tablet) {
				width: 20%;
				margin-bottom: 2em;

				&>div {
					@media(--tablet) {
						margin-bottom: 2em;
					}
				}
			}

			& a {
				display: table;
				margin: .5rem 0;
				text-decoration: none;
				color: var(--Black);

				&:hover,
				&:focus {
					color: var(--DarkBlue);
				}

				&:active,
				&.is-active {
					color: var(--DarkBlue);
				}
			}

			& select {
				width: 100%;
				margin-bottom: 1rem;
			}
		}

		& .feed {
			width: 100%;
			margin-top: 1em;

			@media(--tablet) {
				width: 80%;
				padding: 0 1em;
			}

			& article.preview {
				border: 1px solid var(--Grey);
				border-radius: 0;
				width: calc(50% - 1em);
				margin: 0 .5em 1em;
				padding: calc(1em + 2px);

				@media(--laptop) {
					width: calc(33% - 1em);
				}

				&:hover,
				&:focus {
					border: 3px solid var(--DarkBlue);
					padding: 1em;

					& .button {
						border-color: var(--DarkBlue);
						background-color: var(--DarkBlue);
						color: var(--White);
					}
				}

				& .vendors {
					& a {
						color: var(--DarkBlue);
						text-decoration: none;

						&:hover,
						&:focus {
							color: var(--Blue);
						}
					}
				}

				& h2 {
					font-size: 20px;
					margin-top: .5em;
				}

				& .buttons {
					margin-top: .5em;
					display: flex;

					& .button {
						margin: 0;
						padding: 1em;

						@media(--tablet) {
							padding: 1em 2em;
						}
					}
				}
			}
		}

		& .infinite-scroll {
			width: 100%;
			padding: 0 1em;
			margin: 0;
			margin-left: auto;
			text-align: center;

			@media(--tablet) {
				width: 80%;
			}
		}
	}

	& footer {
		margin-top: 4em;
	}
}

.post-type-archive-product {
	& footer {
		margin-top: 0;
	}
}