/*----------------------------------------------------------------*\
	CONTACT FOR PRICING
\*----------------------------------------------------------------*/
body.page-template-contact-for-pricing {
	& header.page-title {
		min-height: 400px;
	}

	& main > article {
		margin: 4rem auto;

		& h3 {
			margin-bottom: 2rem;
		}

		& form {
			max-width: 500px;

			& .gfield_required {
				display: none;
			}

			& .gfield_contains_required label::before {
				display: none;
			}

			& .gfield {
				margin-bottom: 1rem;

				&.hidden_label {
					& .gfield_label {
						display: none;
					}
				}
			}

			& input {
				font-size: 16px;
			}

			& textarea {
				font-size: 16px;
				padding: .8em;
			}

			& .gfield_radio .gchoice {
				display: flex;
				flex-wrap: wrap;
				margin-bottom: .5rem;

				& label {
					font-size: 16px;
					cursor: pointer;
				}
			}

			& input[type="radio"] {
				width: 16px;
				height: 16px;
				margin: 1px .5rem 0 0;
				border: 2px solid var(--Black);
				cursor: pointer;
			}

			& .gfield_checkbox .gchoice {
				display: flex;
				flex-wrap: wrap;
				margin-bottom: .5rem;

				& label {
					font-size: 16px;
					cursor: pointer;
				}
			}

			& input[type="checkbox"] {
				width: 16px;
				height: 16px;
				margin: 1px .5rem 0 0;
				border: 2px solid var(--Black);
				cursor: pointer;
			}
		}
	}
}