/*----------------------------------------------------------------*\

	STYLES SPECIFIC TO THE STANDARD TEMPLATES
	left siddebar, right sidebar, both sidebar, 404, thank you

\*----------------------------------------------------------------*/

/*----------------------------------------------------------------*\
	404
\*----------------------------------------------------------------*/

body.error404 {
	& article {
		height: calc(100vh - 140px);
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;
		background-color: var(--Blue);
		margin: 0;

		& section {
			max-width: 600px;

			&.wysiwyg-block>div {
				width: 100%;
			}
		}

		& h1 {
			margin-top: 0;
			color: var(--White);
			font-size: responsive 55px 80px;
			font-range: 420px 1400px;
			text-transform: uppercase;
		}

		& p {
			color: var(--White);
			font-size: 1.5em;
		}

		& .buttons {
			margin-top: 50px;
		}
	}
}

/*----------------------------------------------------------------*\
	THANK YOU
\*----------------------------------------------------------------*/

body.page-template-thankyou {
	& article {
		height: calc(100vh - 140px);
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;
		background-color: var(--Blue);
		color: var(--White);
		margin: 0;

		& section {
			max-width: 600px;

			&.wysiwyg-block>div {
				width: 100%;
			}
		}

		& h1 {
			margin-top: 0;
			width: 100%;
		}

		& p {
			font-size: 1.5em;
			color: var(--White);
		}

		& .buttons {
			margin-top: 50px;

			& .button.is-ghost {
				border-color: var(--White);
				color: var(--White);
			}
		}
	}
}