/*----------------------------------------------------------------*\

	STYLES SPECIFIC TO THE FRONT PAGE

\*----------------------------------------------------------------*/
body.home {
	& .slick-initialized {
		& .slick-slide {
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			height: 90vh;
			margin-top: 0;
			margin-bottom: 0;
			background-position: center;
			background-repeat: no-repeat;
			background-size: cover;

			&>div {
				width: 100%;
				padding: 1em;

				& h1 {
					margin: 1em 0 0;
				}

				& p {
					margin: .5em 0 2em;
					color: var(--White);
					font-size: 26px;

					@media(--tablet) {
						margin: .5em 0;
					}
				}

				& .button {
					margin: .5em 0;

					@media(--tablet) {
						margin: .5em;
					}

					&:hover,
					&:focus {
						border-color: var(--DarkYellow);
						background-color: var(--DarkYellow);
					}
				}

				& .button+.button {
					background-color: transparent;
					border-color: var(--White);
					color: var(--White);

					&:hover,
					&:focus {
						border-color: var(--DarkBlue);
						background-color: var(--DarkBlue);
					}
				}
			}
		}

		& .slick-dots {
			position: absolute;
			bottom: 0;
			list-style-type: none;
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			width: 100%;
			padding: 0;

			& li {

				&.slick-active {
					& button {
						background-color: var(--White);
						color: var(--White);
					}
				}

				& button {
					border-radius: 50%;
					width: 21px;
					height: 21px;
					margin: 10px;
					padding: 0;
					background-color: transparent;
					border: 3px solid var(--White);
					color: transparent;
					font-size: 0;
				}
			}
		}
	}

	& section.featured-products {
		text-align: center;
		margin-top: 50px;

		& h2 {
			margin-bottom: 2em;
		}

		&>div {
			position: relative;

			&:nth-of-type(even) {
				& article {
					&>div {
						&.featured-img {
							@media(--tablet) {
								order: 2;
							}
						}

						&.product-info {
							@media(--tablet) {
								order: 1;
							}
						}
					}
				}
			}

			&>div {
				height: 380px;
				background-position: center;
				background-repeat: no-repeat;
				background-size: cover;
				position: absolute;
				top: 0;
				right: 0;
				left: 0;
			}

			& article {
				display: flex;
				flex-wrap: wrap;
				justify-content: center;
				margin: 1em 0 6em;
				padding-top: 6em;

				&>div {
					width: 100%;
					padding: 0;

					@media(--tablet) {
						margin: 0 2em;
					}

					&.featured-img {
						display: flex;
						flex-wrap: wrap;
						justify-content: center;
						align-items: flex-start;

						@media(--tablet) {
							width: 35%;
						}

						& img {
							width: 80%;

							@media(--tablet) {
								width: 100%;
							}

							@media(--desktop) {
								width: auto;
								max-height: 500px;
							}
						}
					}

					&.product-info {
						background-color: var(--Black);
						color: var(--White);
						text-align: left;
						margin: 1em;

						@media(--tablet) {
							width: 45%;
							margin: 0;
						}

						@media(--laptop) {
							width: 35%;
						}

						&.is-active {

							& .specifications {
								visibility: visible;
								height: 180px;
							}
						}

						&>div {
							padding: 2em;

							& h2 {
								margin: 0;
							}

							& p {
								color: var(--White);
								display: none;

								@media(--tablet) {
									display: block;
								}
							}

							& .buttons {
								margin-top: 1.5em;
								display: flex;
								flex-wrap: wrap;
								justify-content: space-between;
								align-items: center;

								& .button {

									&:hover,
									&:focus {
										border-color: var(--DarkBlue);
										background-color: var(--DarkBlue);
									}
								}

								& button {
									color: var(--White);
									position: relative;
									padding: 0;
									padding-right: 2em;
									margin: 0;
									border: none;
									font-size: 16px;

									@media(--tablet) {
										display: none;
									}

									&:after {
										content: '';
										width: 0px;
										height: 0px;
										border-left: 10px solid transparent;
										border-right: 10px solid transparent;
										border-top: 10px solid var(--White);
										position: absolute;
										top: calc(50% - 4px);
										right: 0;
									}

									&.is-active {
										&:after {
											border-bottom: 10px solid var(--White);
											border-top: none;
										}
									}
								}
							}
						}

						& .specifications {
							background-color: var(--DarkBlue);
							padding: 0 1em;
							margin: 0;
							color: var(--White);
							width: 100%;
							visibility: hidden;
							height: 0;
							transition: height .35s linear;

							@media(--tablet) {
								display: block;
								visibility: visible;
								height: auto;
							}

							& h4 {
								margin-top: 0;
								padding-top: 1em;
							}

							& ul {
								padding-left: 0;
								list-style-type: none;
								font-size: 16px;
								color: var(--White);

								@media(--tablet) {
									margin-bottom: 0;
									padding-bottom: 1em;
								}

								& li {
									margin-bottom: .5em;

									&:last-of-type {
										margin-bottom: 0;
									}
								}
							}
						}
					}
				}
			}
		}
	}

	& section.featured-news {
		display: flex;
		flex-wrap: wrap;

		&>div {
			width: 50%;

			&:first-of-type {
				background-image: linear-gradient(rgba(51, 152, 219, 0.78), rgba(51, 152, 219, 0.78)), url(../images/testimonials_bg.jpg);
				background-position: center;
				background-repeat: no-repeat;
				background-size: cover;
				padding: 1em 0;
				width: 100%;

				@media(--tablet) {
					width: 50%;
					padding: 1em;
				}

				& h2 {
					text-align: center;
					color: var(--White);
				}

				&>div {
					display: flex;
					flex-wrap: wrap;
					align-content: center;
				}

				& article.preview.preview-blog {
					width: 80%;
					margin: 1em auto;

					@media(--tablet) {

						&:hover,
						&:focus {
							&:after {
								content: '';
								position: absolute;
								top: calc(50% - 15.5px);
								right: 1em;
								width: 17px;
								height: 31px;
								background-size: 31px;
								background-position: center;
								background-repeat: no-repeat;
								background-image: url(../images/blue-arrow.svg);
							}
						}
					}
				}
			}

			&:last-of-type {
				background-color: var(--Grey);
				display: flex;
				flex-wrap: wrap;
				justify-content: center;
				align-items: center;
				flex-direction: column;
				padding: 2em;
				width: 100%;

				@media(--tablet) {
					width: 50%;
				}

				& img {
					width: 80px;
				}

				& p {
					margin-top: 0;
				}

				& form {
					max-width: 500px;
				}

				& input {
					background-color: var(--Grey);
				}
			}
		}
	}
}