/*----------------------------------------------------------------*\

	STYLES SPECIFIC TO THE SEARCH RESULTS PAGE

\*----------------------------------------------------------------*/

.search {
	& section.search-header {
		margin-top: 0;
		padding-top: 117px;
		text-align: center;

		& form {
			position: relative;
			margin: 0 2em;
			width: calc(100% - 4em);

			@media(--tablet) {
				margin: 0 auto;
				width: 100%;
			}

			& label {
				display: none;
			}

			& input {
				padding-right: calc(2em + 20px);
				border: none;
				font-size: 26px;
				border-bottom: 2px solid var(--Black);
				color: var(--DarkBlue);
			}

			& button {
				position: absolute;
				top: 2em;
				right: 1em;
				width: 2em;
				height: 2em;
				color: transparent;
				background-color: transparent;
				border: none;
				padding: 0;
				background-repeat: no-repeat;
				background-position: center;
				background-size: 2em;
				background-image: url(../images/search-icon-yellow.svg);
			}
		}
	}

	& section.product-feed {
		max-width: var(--Width);

		& h2 {
			width: 100%;
			padding: 0 2rem;

			@media(--tablet) {
				padding: 0 4rem;
			}
		}

		& h3 {
			padding: 0 2rem;

			@media(--tablet) {
				padding: 0 4rem;
			}
		}

		& article.preview {
			border: 1px solid var(--Grey);
			border-radius: 0;
			width: calc(50% - 1em);
			margin: 0 .5em 1em;
			padding: calc(1em + 2px);

			@media(--laptop) {
				width: calc(33% - 2em);
				margin: 0 1em 2em;
			}

			&:hover,
			&:focus {
				border: 3px solid var(--DarkBlue);
				padding: 1em;

				& .button {
					border-color: var(--DarkBlue);
					background-color: var(--DarkBlue);
					color: var(--White);
				}
			}

			& .featured-image {
				width: 100%;
				flex-grow: 1;

				@media(--tablet) {
					flex-grow: inherit;
				}

				& img {
					width: auto;
					margin: 0 auto;

					@media(--tablet) {
						height: 250px;
					}
				}
			}

			& .vendors {
				& a {
					color: var(--DarkBlue);
					text-decoration: none;

					&:hover,
					&:focus {
						color: var(--Blue);
					}
				}
			}

			& h2 {
				font-size: 20px;
				margin-top: .5em;
				text-align: left;
				padding: 0;

				@media(--tablet) {
					flex-grow: 1;
				}
			}

			& .buttons {
				margin-top: .5em;
				display: flex;
				width: 100%;
				padding: 0;

				& .button {
					margin: 0 auto;
					padding: 1em;

					@media(--tablet) {
						padding: 1em 2em;
					}
				}
			}
		}
	}

	& section.feed-search {
		max-width: var(--Width);
		padding: 0 2rem;

		@media(--tablet) {
			padding: 0 4rem;
		}

		& h2 {
			width: 100%;
			padding: 0;
		}

		& article.preview {
			width: 100%;
			margin: .5em 0;

			@media(--tablet) {

				&:hover,
				&:focus {
					&:after {
						content: '';
						position: absolute;
						top: calc(50% - 15.5px);
						right: 1em;
						width: 17px;
						height: 31px;
						background-size: 31px;
						background-position: center;
						background-repeat: no-repeat;
						background-image: url(../images/blue-arrow.svg);
					}
				}
			}

			& .blog-info {
				padding-left: 0;

				& h3 {
					margin-top: 0;
				}
			}
		}
	}
}