/*----------------------------------------------------------------*\

	STYLES SPECIFIC TO THE SINGLE PRODUCT

\*----------------------------------------------------------------*/
body.single-product {
	overflow-x: hidden;

	& main {
		max-width: var(--Width);
		margin: 0 auto;

		& article {
			display: flex;
			flex-wrap: wrap;
			max-width: var(--Width);
			margin: 1rem 0 2rem;

			&>div {
				width: 100%;
				padding: 0 1rem;

				@media(--tablet) {
					width: 50%;
					padding: 0 2rem;
				}

				&.product-gallery-wrap {
					& .product-gallery {
						margin-bottom: 1rem;

						& .slick-slide {
							height: 500px;
							object-fit: contain;
						}
					}

					& .thumbnails {

						& .slick-arrow {
							width: 32px;
							cursor: pointer;
							z-index: 2;
							position: absolute;
							top: 50%;
							transform: translateY(-50%);

							&:first-of-type {
								left: -1rem;

								@media(--tablet) {
									left: -2rem;
								}
							}

							&:last-of-type {
								right: -1rem;

								@media(--tablet) {
									right: -2rem;
								}
							}
						}

						& .slick-slide {
							height: 100px;
							object-fit: contain;
						}
					}
				}

				&.product-info {
					&>a {
						color: var(--DarkBlue);
						font-size: 16px;
						text-decoration: none;
					}

					& h1 {
						font-size: 40px;
						margin: 0;
					}

					& .buttons {
						margin-top: 1.5em;

						& .button {
							&.has-icon {
								padding: 0;
								margin-top: 1.5em;

								@media(--phone) {
									margin-top: 0;
								}

								&::before {
									background-image: url(../images/file-icon.svg);
								}
							}
						}
					}

					& .specifications {
						background-color: var(--DarkBlue);
						padding: 1em;
						margin: 1.5em 0;
						color: var(--White);
						width: 100%;

						@media(--phone) {
							width: 85%;
						}

						& h4 {
							margin-top: 0;
						}

						& ul {
							padding-left: 0;
							list-style-type: none;
							font-size: 16px;
							color: var(--White);

							& li {
								margin-bottom: .5em;

								&:last-of-type {
									margin-bottom: 0;
								}
							}
						}
					}
				}

				&.product-description {
					width: 100%;
					max-width: 700px;
					margin: 4rem auto 0;
				}
			}
		}
	}

	& section.testimonials {
		background-image: url(../images/product-reviews_bg.jpg);

		&::after {
			display: none;
		}

		&>.block {
			color: var(--Black);
		}

		& .testimonial-slider>svg path {
			fill: var(--DarkBlue);
		}

		& article {
			& blockquote {
				& p {
					color: var(--Black);

					&:first-of-type {
						&:after {
							background-color: var(--Blue);
						}
					}
				}
			}
		}
	}
}

.related-products {
	max-width: var(--Width);
	display: flex;
	flex-wrap: wrap;
	margin: 2rem auto 4rem !important;

	& h2 {
		text-align: center;
		width: 100%;
		margin-bottom: 1em;
	}

	& > .button {
		margin: 1rem auto 0;
	}

	& article.preview {
		border: 1px solid var(--Grey);
		border-radius: 0;
		width: calc(50% - 1em);
		margin: 0 .5em 1em;
		padding: calc(1em + 2px);

		@media(--laptop) {
			width: calc(33% - 1em);
		}

		&:hover,
		&:focus {
			border: 3px solid var(--DarkBlue);
			padding: 1em;

			& .button {
				border-color: var(--DarkBlue);
				background-color: var(--DarkBlue);
				color: var(--White);
			}
		}

		& .vendors {
			& a {
				color: var(--DarkBlue);
				text-decoration: none;

				&:hover,
				&:focus {
					color: var(--Blue);
				}
			}
		}

		& h2 {
			font-size: 20px;
			margin-top: .5em;
			text-align: left;
			padding: 0;
		}

		& .buttons {
			margin-top: .5em;
			display: flex;
			width: 100%;
			padding: 0;

			& .button {
				margin: 0;
				padding: 1em;

				@media(--tablet) {
					padding: 1em 2em;
				}
			}
		}
	}
}