/*----------------------------------------------------------------*\
	COOKIE USE
\*----------------------------------------------------------------*/

.cookie-use {
	background-color: rgba(0, 0, 0, .85);
	padding: 1em;
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 100;
	transform: translateY(0);
	transition: all .5s linear;
	margin: 0;

	&.is-hidden {
		transform: translateY(100%);
	}

	& .block {
		max-width: 800px;
		margin: 0 auto;
		text-align: center;

		@media(--phone) {
			display: flex;
			justify-content: space-between;
			align-items: center;
			text-align: inherit;
		}

		& p {
			color: var(--White);
			line-height: 1;

			@media(--phone) {
				max-width: 450px;
			}

			& a {
				color: var(--Blue);
			}
		}

		& button {
			padding: .5em 1em;
			font-size: .875em;
		}
	}
}