/*----------------------------------------------------------------*\
		NAVIGATION
\*----------------------------------------------------------------*/
.navigation-wrap {
	display: none;
	justify-content: center;
	z-index: 1000;
	position: absolute;
	margin: 0 auto;
	width: 100%;
	transition: all .5s ease-in-out;
	height: 117px;
	box-shadow: inset 0 -2px 0 0 var(--Grey);

	@media(--laptop) {
		display: flex;
	}

	&.is-fixed {
		width: 100%;
		height: 117px;
		position: fixed;
		box-shadow: inset 0 -2px 0 0 var(--Grey);
		background-color: var(--White);
	}

	&.is-transparent {
		box-shadow: none;
	}

	&.notification-on {
		margin-top: 2rem;

		&.is-fixed {
			margin-top: 0;
		}
	}
}

nav {
	& ul {
		padding: 0;
		display: flex;
		justify-content: space-between;
		align-items: center;

		& li {
			list-style: none;
			position: relative;

			& a {
				display: block;
				padding: .5em 1em;
				text-decoration: none;
				color: var(--Black);
				transition: all .35s linear;
				opacity: 1;

				&:hover,
				&:focus {
					color: var(--DarkBlue);
				}

				&:active {
					color: var(--DarkBlue);
				}

				&.search-active {
					opacity: 0;
				}
			}

			&.current_page_item a,
			&.current-page-ancestor a {
				color: var(--DarkBlue);
			}

			& ul {
				display: none;
				position: absolute;
				top: 100%;
				left: 1em;
				z-index: 99999;
				width: 180px;
				background: var(--Blue);
				box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.2);
				margin: 0 !important;
				padding: 0 !important;

				&::after {
					content: '';
					position: absolute;
					border-style: solid;
					border-width: 0 8px 8px;
					border-color: var(--Blue) transparent;
					display: block;
					width: 0;
					z-index: 1;
					top: -8px;
					left: 1em;
				}

				& a {
					font-size: 14px;
					color: var(--White);

					&:hover,
					&:focus {
						color: var(--White);
						background: var(--DarkBlue);
					}
				}
			}
		}
	}
}

/*----------------------------------------------------------------*\
		PRIMARY NAVIGATION
\*----------------------------------------------------------------*/

.navigation-block {
	display: none;
	justify-content: space-between;
	align-items: center;
	padding: 1em;
	position: absolute;
	top: 0;
	background-color: transparent;
	width: 100%;
	z-index: 1000;
	max-width: var(--LargeWidth);
	box-shadow: inset 0 -2px 0 0 var(--Grey);

	@media(--laptop) {
		display: flex;
	}

	&.is-fixed {
		position: fixed;
		background-color: var(--White);
		transition: all .5s ease-in-out;

		& #search-form form input {
			border-bottom: 2px solid var(--Black);
			color: var(--Black);
			padding-bottom: calc(1em - 4px);

			&::placeholder {
				color: var(--Black);
			}
		}

		& #search-button svg {
			@media(--laptop) {
				fill: var(--Black);
			}
		}
	}

	& #search-form form input {
		border-bottom: 2px solid var(--Black);
		color: var(--Black);
		padding-bottom: calc(1em - 4px);

		&::placeholder {
			color: var(--Black);
		}
	}

	& svg {
		/* svg styling based on orion lab line icons */
		/* adjust style specific for your icon set */
		vertical-align: text-top;
		height: 80px;
		width: 200px;
		margin-left: .25em;
		stroke: var(--Black);
		fill: var(--Black);

		@media(--laptop) {
			width: 200px;
		}

		& path#Symbol-2 {
			fill: var(--DarkBlue);
		}

		& path#Symbol {
			stroke: var(--DarkBlue);
			fill: var(--DarkBlue);
		}

		& #Distributing {
			stroke: var(--DarkBlue);
			fill: var(--DarkBlue);
		}

		& path.nine {
			stroke: var(--DarkBlue);
			fill: var(--DarkBlue);
		}

		& path.years {
			stroke: var(--DarkBlue);
			fill: var(--DarkBlue);
		}

		& path.zero {
			stroke: var(--DarkGrey);
			fill: var(--DarkGrey);
		}
	}

	&>nav {
		background: transparent;
		height: auto;
		width: 100%;
		transition: all .5s ease-in-out;

		@media(--laptop) {
			font-size: 16px;
		}

		@media(--desktop) {
			font-size: 1em;
		}

		& ul {
			justify-content: flex-end;
			margin: 2em 0 0;
			padding-right: 3em;

			&>li {

				&:focus-within ul,
				&:hover ul,
				&>a:hover+ul {
					display: block;
				}
			}
		}

		&>a.button {
			position: absolute;
			top: 0;
			right: 2em;
			margin: 0;
			padding: .5em 2em;
			border: 2px solid var(--Blue);
			background-color: var(--Blue);
			color: var(--White);
		}
	}

	&.is-transparent {
		background-color: transparent;
		box-shadow: none;

		& svg {
			stroke: var(--White);
			fill: var(--White);

			& path#Symbol-2 {
				fill: var(--White);
			}

			& path#Symbol {
				stroke: var(--White);
				fill: var(--White);
			}

			& #Distributing {
				stroke: var(--White);
				fill: var(--White);
			}

			& path.nine {
				stroke: var(--White);
				fill: var(--White);
			}

			& path.years {
				stroke: var(--White);
				fill: var(--White);
			}

			& path.zero {
				stroke: var(--White);
				fill: var(--White);
			}
		}

		& #search-form form input {
			border-bottom: 2px solid var(--White);
			color: var(--White);
			padding-bottom: calc(1em - 4px);

			&::placeholder {
				color: var(--White);
			}
		}

		& #search-button svg {
			@media(--laptop) {
				fill: var(--White);
				stroke: var(--White);
			}
		}

		& nav {
			&>ul {
				&>li {
					&.active a {
						color: var(--Yellow) !important;
					}

					&>a {
						color: var(--White);

						&:hover,
						&:focus {
							color: var(--Yellow);
						}

						&:active {
							color: var(--Yellow);
						}
					}
				}
			}
		}
	}
}

.navigation-block-mobile {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;
	align-items: center;
	position: absolute;
	padding: 1em 1.5em;
	width: 100%;
	background-color: var(--White);
	box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.15);
	z-index: 1000;
	transition: all .5s linear;

	@media(--laptop) {
		display: none;
	}

	&.is-fixed {
		position: fixed;
		right: 0;
		transition: all .35s ease-in-out;

		&.is-active {
			position: sticky;
		}

		&.is-closed {
			position: sticky;
		}

		& #search-form form input {
			border-bottom: 2px solid var(--DarkBlue);
			color: var(--DarkBlue);

			&::placeholder {
				color: var(--DarkBlue);
			}
		}
	}

	&.is-transparent {
		background-color: var(--Overlay);
		box-shadow: none;

		& svg {
			& path {
				fill: var(--White) !important;
				stroke: var(--White) !important;
			}

			& path#Symbol {
				stroke: var(--White);
				fill: var(--White);
			}

			& #Distributing {
				stroke: var(--White);
				fill: var(--White);
			}

			& path.nine {
				stroke: var(--White);
				fill: var(--White);
			}

			& path.years {
				stroke: var(--White);
				fill: var(--White);
			}

			& path.zero {
				stroke: var(--White);
				fill: var(--White);
			}
		}

		& #search-button svg {
			stroke: var(--White);
			fill: var(--White);
		}
	}

	&.notification-on {
		margin-top: 2rem;

		&.is-fixed {
			margin-top: 0;
		}
	}

	&>a {
		margin-right: auto;

		&.search-active {
			visibility: hidden;
		}
	}

	& svg {
		fill: var(--Black);
		height: 62px;
		width: 154px;

		@media(--phone) {
			width: 200px;
		}

		& path#Symbol {
			stroke: var(--DarkBlue);
			fill: var(--DarkBlue);
		}

		& #Distributing {
			stroke: var(--DarkBlue);
			fill: var(--DarkBlue);
		}

		& path.nine {
			stroke: var(--DarkBlue);
			fill: var(--DarkBlue);
		}

		& path.years {
			stroke: var(--DarkBlue);
			fill: var(--DarkBlue);
		}

		& path.zero {
			stroke: var(--DarkGrey);
			fill: var(--DarkGrey);
		}
	}

	&>button {
		border: 0;
		padding: 0;
		margin: 1em;
		background-color: transparent;

		&:hover,
		&:focus {
			background-color: transparent;
		}

		&.nav-toggle {
			&.search-active {
				visibility: hidden;
				transition: none;
			}
		}

		& svg {
			height: 24px;
			width: 24px;

			&#menu {
				opacity: 1;
			}

			&#close-arrow {
				display: none;
				opacity: 0;

				& path {
					fill: var(--Yellow) !important;
				}
			}
		}
	}
}

body {
	transition: all .35s ease-in-out;

	&.is-active {
		margin-right: 265px;
		margin-left: -265px;

		& .navigation-block-mobile>button svg {
			&#menu {
				display: none;
				opacity: 0;
			}

			&#close-arrow {
				display: block;
				opacity: 1;
			}
		}
	}
}

nav.hamburger {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	width: 265px;
	padding: 1em;
	max-width: 400px;
	background-color: var(--Grey);
	z-index: 100000;
	transform: translateX(100%);
	transition: all .35s ease-in-out;
	box-shadow: inset 5px 0px 15px -5px;

	&.is-active {
		transform: none;
	}

	& a:first-of-type svg {
		width: 200px;
		margin: 0 0 1em 0;
		display: block;
	}

	& form {
		position: relative;

		& button {
			padding: 0;
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			right: .5em;

			& svg {
				height: 1.875em;
				width: 1.875em;
			}
		}
	}

	&>ul {
		display: block;
		margin: 0;

		& li {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			align-items: center;

			& a {
				padding: .5em 0;
				color: var(--Black);
				font-size: 20px;
				font-weight: 100;
			}

			&.menu-item-has-children {
				&>a {
					width: calc(100% - 32px);
				}

				&::before {
					content: '';
					display: block;
					z-index: 2;
					top: 0;
					right: 0;
					bottom: 0;
					width: 24px;
					height: 24px;
					flex-shrink: 0;
					order: 2;
					background-image: url('../images/select_arrow.svg');
					background-size: contain;
					background-position: center;
				}

				&.is-active::before {
					transform: rotate(180deg);
				}
			}

			& ul {
				order: 3;
				background-color: transparent;
				padding-left: 16px !important;
				box-shadow: none;

				&::after {
					display: none;
				}

				&.is-active {
					display: block;
					position: initial;
					width: 100%;
				}

				& a {
					font-size: 16px;
				}
			}
		}
	}

	& a {
		font-size: 26px;
		text-decoration: none;
		color: var(--Blue);
		font-weight: bold;

		&:hover,
		&:focus {
			color: var(--DarkBlue);
		}

		&.button {
			padding: 1em 0;
			margin: 0;
			font-size: 16px;
			background-color: transparent;
			border: none;
			font-weight: 100;
			color: var(--DarkBlue);

			&:hover,
			&:focus {
				color: var(--Blue);
			}
		}
	}

	& p {
		font-size: 16px;
		margin: 1em 0 0;
	}
}

/*----------------------------------------------------------------*\
		SEARCH FORM
\*----------------------------------------------------------------*/
#search-button {
	width: auto;
	text-align: left;
	background: transparent;
	border: transparent;
	display: inline-block;
	padding: 0;

	@media(--laptop) {
		display: inline-block;
		order: 3;
		position: absolute;
		right: 1em;
		top: 4em;
		padding: .5em 1em;
		margin: 0;
	}

	&.search-active {
		visibility: hidden;
		transition: none;

		& svg {
			fill: none;
			stroke: none;
		}
	}

	& svg {
		width: 25px;
		height: 24px;
		display: inline-block;
		fill: var(--DarkBlue);

		@media(--laptop) {
			fill: var(--Black);
			stroke: var(--Black);
		}
	}
}

.search-form-wrap {
	width: 100%;
	height: 100px;
	display: flex;
	position: absolute;
	top: 0;
	right: 0;
	visibility: hidden;

	&.is-active {
		visibility: visible;
	}
}

#search-form {
	width: 90%;
	opacity: 0;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	margin: 0 auto;
	overflow: hidden;
	transition: all .35s linear;

	@media(--laptop) {
		position: absolute;
		right: 0;
		bottom: 0;
		height: 100%;
		padding: 0;
		background-color: transparent;
		visibility: hidden;
	}

	&.is-active {
		opacity: 1;
		visibility: visible;
	}

	& form {
		margin: 0;
		width: 100%;
		max-width: 850px;

		@media(--laptop) {
			margin-top: 2em;
		}

		& label {
			display: none;
		}

		& input {
			padding: 1em;
			padding-right: calc(1em + 20px);
			background-image: none;
			background-repeat: no-repeat;
			background-position: center right 1em;
			background-size: 1.25em;
			background-color: transparent;
			border: none;
			border-bottom: 2px solid var(--White);
			color: var(--White);
			font-size: 22px;

			@media(--phone) {
				font-size: 26px;
			}

			@media(--laptop) {
				background-image: none;
			}

			&::placeholder {
				color: var(--White);
			}

			&.is-activated,
			&.LV_valid_field {
				background-image: url(../images/search-icon.svg);

				@media(--laptop) {
					background-image: none;
				}
			}
		}

		& button {
			display: none;
		}
	}

	& #search-close {
		margin: 0;
		background-color: var(--Primary);
		border-color: var(--Primary);
		border-radius: 0;
		height: 55px;
		display: flex;
		align-items: center;
		display: inline-block;
		position: absolute;
		right: 5%;
		top: 2em;
		padding: .5em 1em;
		margin: 0;
		border: none;

		@media(--laptop) {
			position: absolute;
			margin: 0;
			right: 1em;
			top: 3.4em;
		}

		& span {
			display: none;
		}

		& svg {
			width: 25px;
			height: 24px;
			display: inline-block;
			fill: var(--Yellow);
			stroke: var(--Yellow);
		}
	}
}

#desktop-search {
	display: none;

	@media(--laptop) {
		display: block;
	}
}

#mobile-search {
	display: block;

	@media(--laptop) {
		display: none;
	}
}