/*----------------------------------------------------------------*\
	LOCATION CARDS
\*----------------------------------------------------------------*/

section.locations {
	max-width: var(--LargeWidth);
	display: flex;
	flex-wrap: wrap;
	padding: 1em;
	text-align: center;
	margin-top: 0;
	margin-bottom: 0;

	& h2 {
		width: 100%;
	}

	& article.preview {
		width: 100%;
		border: none;
		flex-direction: inherit;
		padding: 1em;
		margin: 0;
		cursor: pointer;

		@media(--tablet) {
			width: 50%;
		}

		@media(--laptop) {
			width: 33.33%;
		}

		&:hover,
		&:focus {
			& .featured-image {
				& img,
				& svg {
					transform: none;

					& .cls-icon-2 {
						fill: var(--DarkBlue);
						stroke: var(--White);
					}
				}
			}
		}

		&.is-active {
			& img,
			& svg {

				& .cls-icon-2 {
					fill: var(--DarkBlue);
					stroke: var(--White);
				}
			}
		}

		& .featured-image {
			width: 65px;

			& img,
			& svg {
				width: 65px;
				margin: 0 auto;
			}
		}

		& .location-info {
			width: calc(100% - 65px);
			text-align: left;
			padding-left: 1em;

			& h3 {
				color: var(--DarkBlue);
				margin-bottom: 0;
				margin-top: .5em;
			}

			& p {
				font-size: 16px;
				margin-top: .5em;
				padding: 0;
			}
		}
	}
}

section.location-maps {
	margin: 0;
	height: 450px;
	position: relative;

	& .location-map {
		position: absolute;
		width: 100%;
		transition: all .35s linear;
		opacity: 0;

		&.is-active {
			opacity: 1;
		}

		& p {
			padding: 0;
			margin: 0;
		}
	}
}