/*----------------------------------------------------------------*\
	CARDS
\*----------------------------------------------------------------*/

article.preview {
	display: flex;
	flex-wrap: wrap;
	align-content: flex-start;
	flex-direction: column;
	position: relative;
	overflow: hidden;
	width: 48%;
	border-radius: 6px;
	border: 1px solid var(--Grey);
	background-color: #fff;
	margin-bottom: var(--Spacing);

	&>a {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: 2;
	}

	&.preview-product {
		& .featured-image {
			& img {
				width: 100%;
				height: 300px;
				object-fit: contain;
			}
		}
	}

	& .featured-image {
		margin-top: 0;
		overflow: hidden;

		& img {
			width: 100%;
			display: block;
			transition: all .5s ease-in-out;
		}
	}

	& h1,
	& p {
		padding: 0 var(--SmallSpacing);
	}

	& p {
		flex: auto;
	}

	& .buttons {
		margin-top: 1.5em;
	}

	&:hover,
	&:focus {

		& .button,
		& button {
			border-color: var(--Grey);
			background-color: var(--Grey);
		}

		& img {
			transform: scale(1.1);
		}
	}
}

/*----------------------------------------------------------------*\
	BLOG CARDS
\*----------------------------------------------------------------*/
article.preview.preview-blog {
	width: calc(100% - 2em);
	flex-direction: inherit;
	padding: calc(1em + 2px);
	margin: 1em;
	border-radius: 0;

	@media(--tablet) {
		width: calc(50% - 2em);

		&:hover,
		&:focus {
			border: 3px solid var(--DarkBlue);
			padding: 1em;
			padding-right: 2em;

			&:after {
				content: '';
				position: absolute;
				top: calc(50% - 15.5px);
				right: 1em;
				width: 17px;
				height: 31px;
				background-size: 31px;
				background-position: center;
				background-repeat: no-repeat;
				background-image: url(../images/blue-arrow.svg);
			}

			& .featured-image {
				& img {
					transform: none;
				}
			}
		}
	}

	& .featured-image {
		width: 65px;
		display: flex;
		align-items: center;

		& img {
			width: 65px;
			margin: 0 auto;
		}
	}

	& .blog-info {
		width: calc(100% - 65px);
		text-align: left;
		padding-left: 1em;

		& a {
			color: var(--Blue);
			text-decoration: none;
			position: relative;
			z-index: 2;

			&:hover,
			&:focus {
				text-decoration: underline;
			}
		}

		& h3 {
			color: var(--DarkBlue);
			margin-bottom: 0;
			margin-top: .5em;
		}

		& p {
			font-size: 16px;
			margin: .5em 0 0;
			padding: 0;
		}
	}
}