/*----------------------------------------------------------------*\
	TEAM CARDS
\*----------------------------------------------------------------*/

article.preview-team {
	width: calc(50% - 8px);
	margin: 0 8px 8px 0;
	color: var(--White);
	border-radius: 0;

	@media(--tablet) {
		width: calc(33% - 8px);
	}

	@media(--laptop) {
		width: calc(20% - 8px);
	}

	&:hover,
	&:focus {

		& .featured-image {
			& img {
				transform: none;
			}

			& .overlay,
			& .email-icon {
				opacity: 1;
			}
		}

		& h2,
		& p {
			opacity: 1;
		}
	}

	&>a {
		z-index: 10;
	}

	& .featured-image {
		position: relative;

		& .overlay {
			background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
			z-index: 2;
			position: absolute;
			top: 0;
			bottom: 0;
			right: 0;
			left: 0;
			border: 3px solid var(--Yellow);
			opacity: 1;
			transition: all .35s linear;

			@media(--laptop) {
				opacity: 0;
			}
		}

		& .email-icon {
			background-image: url(../images/email-icon.svg);
			background-position: center;
			background-repeat: no-repeat;
			background-size: contain;
			width: 45px;
			height: 70px;
			z-index: 3;
			position: absolute;
			top: 10px;
			right: 1px;
			opacity: 1;
			transition: all .35s linear;

			@media(--laptop) {
				opacity: 0;
			}
		}
	}

	& h2 {
		position: absolute;
		bottom: 25%;
		font-size: 20px;
		padding: 0 14px;
		z-index: 3;
		opacity: 1;
		transition: all .35s linear;

		@media(--phone) {
			bottom: 14%;
		}

		@media(--laptop) {
			opacity: 0;
		}
	}

	& p {
		position: absolute;
		bottom: calc(14% - 16px);
		padding: 0 14px;
		z-index: 3;
		opacity: 1;
		transition: all .35s linear;
		color: var(--White);
		font-size: 11px;
		line-height: 1;
		margin-bottom: 5px;

		@media(--laptop) {
			opacity: 0;
		}
	}
}